  <input type="file" multiple (change)="fileChangeEvent($event)" />
    <div style="display:flex;max-width:600px;overflow: auto;">
      <div *ngFor="let item of ulpoadedFiles" style="margin:5px">
        <span (click)="cropImage(item.imgId,1)">
          <img [src]="item.imgBase64" style="max-width:300px;max-height:100px ;border:2px solid gray" />
        </span>
      </div>
    </div>
   <!--popup modal-->
    <div class="backdrop" [ngStyle]="{'display':display}"></div>

    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">

            <image-cropper [imageChangedEvent]="imageChangedEvent"
                           [maintainAspectRatio]="true"
                           [aspectRatio]="4 / 3"
                           [resizeToWidth]="128"
                           [cropperStaticWidth] = "500"
                           [cropperStaticHeight] = "400"
                           format="png"
                           (imageCropped)="imageCropped($event)"
                           (imageLoaded)="imageLoaded()"
                           (cropperReady)="cropperReady()"
                           (loadImageFailed)="loadImageFailed()" style="max-height:500px"></image-cropper>

            <button type="button" class="btn btn-default" (click)="SaveCropedImage()">Save</button>
            <button type="button" class="btn btn-default" (click)="SaveAllImages()">Save All</button> 

     
    </div>

    